<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
   
    <add name="conexion"
      connectionString="Data Source=HUAWEI; DataBase=proyecto ;Integrated Security = True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!-- <add name="conexionusuario"
      connectionString="Data Source=DESKTOP-40G4QF3\SQLEXPRESS; DataBase=usuarios ;Integrated Security = True"
      providerName="System.Data.SqlClient" />-->